.container {
	background: #af1e39;
}

.display {
    color: white;
    background: #323335;
    border-radius: 35px;
    font-size: 25px;
    height: 80px;
	width: 60%;
	margin: 8px auto;
}

p {
	// position: absolute;
    // left: 371px;
    // bottom: 421px;
    font-size: 50px;	
}

